// Example configuration. Copy this file to "Secrets.xcconfig" and fill in your keys.
// DO NOT commit "Secrets.xcconfig" to version control.

FACEBOOK_APP_ID=123456789
FACEBOOK_CLIENT_TOKEN=your_token_here
FACEBOOK_LOGIN_PROTOCOL_SCHEME=fb123456789